.container{
    padding: 30px;
}

#init-form input {
    width: 40px;
}

.clearfix {
    clear: both;
}

.title {
    padding-bottom: 25px;
}

.result-block {
    padding-top: 25px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.result-block table {
    border-collapse: collapse;
    float: left;
    height: 170px;
    width: 30%;
    margin: 10px 5px;
}

.result-block th {
    background: #e0e9ff;
}

.result-block td, .result-block th {
    border: 1px solid black;
    padding: 7px;
}

.error {
    margin-top: 25px;
    color: red;
}

.result-block h3 {
    clear: both;
}

.simple-little-table {
    text-align: center;
}

.unit {
    float: left;
    height: 100%;
    margin: 7px -40% 7px 40%;
}

.simple-little-table tr .option {
    background: rgb(227, 239, 244);
}

.simple-little-table tr .min_ot {
    background: #DAE5DA none repeat scroll 0% 0%;
}

body {
    #background-color: rgb(169, 194, 212);
    background: url('http://bgpatterns.ru/patterns/240/pattern.png') repeat;
    #color: #fff !important;
}

.error_msg {
    color: #ff8843;
}

.breaking {
    position: absolute;
    top: 20%;
    right: 0;
}

.fract-answer {
    top: 0 !important;
}

.result-table td {
    position: relative;
}

.result-table {
    text-align: center;
    #display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.result-table .fraction.pad-left {
    padding-left: 10px;
}

.fraction {
    text-align: center;
}

.num {
    border-bottom: 1px solid black;
    display: inline;
    position: relative;
}

.sign {
    position: absolute;
    top: 40%;
    left: -10px;
}