#init-form {
    margin: 0px auto;
    display: block;
    width: 230px;
    text-align: left;
}

#init-form p input[type="submit"] {
    display: block;
    margin: 0 auto;
}

#init-form p {
    white-space: pre;
}

.clearfix {
    clear: both;
}

input[type='number'] {
    width: 50px;
    height: 25px;
}

.result-block {
    padding-top: 25px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.result-block table {
    border-collapse: collapse;
    float: left;
    height: 170px;
    width: 30%;
    margin: 10px 5px;
}

.result-block th {
    background: #e0e9ff;
}

.result-block td, .result-block th {
    border: 1px solid black;
    padding: 7px;
}

.error {
    margin-top: 25px;
    color: red;
}

.result-block h3 {
    clear: both;
}

.simple-little-table {
    text-align: center;
}

.simple-little-table table {
    width: 50%;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;

    border: #ccc 1px solid;
    border-collapse: separate;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.simple-little-table table th {
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    #border-left: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

.simple-little-table table tr {
    text-align: center;
    padding-left: 20px;
}

.simple-little-table table tr td {
    padding: 9px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

.simple-little-table table tr:last-child td {
    border-bottom: 0;
}

.simple-little-table table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.simple-little-table table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.simple-little-table table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.simple-little-table table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

.simple-little-table table a:active,
.simple-little-table table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

.simple-little-table table .bigger {
    font-size: 14px;
    font-weight: bold;
}

.simple-little-table table tr td:first-child {
    font-weight: bold;
    font-size: 14px;
    background: #eee;
}

.unit {
    float: left;
    height: 100%;
    margin: 7px -40% 7px 40%;
}

.simple-little-table tr .option {
    background: rgb(227, 239, 244);
}

.simple-little-table tr .min_ot {
    background: #DAE5DA none repeat scroll 0% 0%;
}

body {
    background-color: rgb(169, 194, 212);
}

.error_msg {
    color: #ff8843;
}

.breaking {
    position: absolute;
    top: 20%;
    right: 0;
}

.fract-answer{
    top: 0 !important;
}

.result-table td{
    position: relative;
}

.result-table{
    text-align: center;
    #display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.result-table .fraction.pad-left{
    padding-left: 10px;
}

.fraction{
    text-align: center;
}
.num{
    border-bottom: 1px solid black;
    display: inline;
    position: relative;
}
.sign{
    position: absolute;
    top: 40%;
    left: -10px;
}